@{
    ViewBag.Tab = "Home";
}
<section class="featured">
    <div>
        <h1>Let's get Chocolatey!</h1>
        <p>Chocolatey NuGet is a Machine Package Manager, somewhat like apt-get, but built with windows in mind.</p>
        <h2>Easy Install!</h2>
        <p style="vertical-align:bottom;font-size:18px">
        To install chocolatey now, open a command prompt and paste the text from the box below and press enter (minus the C:\&gt; of course ;)) 
        </p>
    </div>
    <img src="@Url.Content("~/content/images/hero.png")" alt="Chocolatey install of mSysGit (cinst msysgit)" />
</section>
<div class="nuget-badge">
    <p>
        <code>C:\&gt; @@powershell -NoProfile -ExecutionPolicy unrestricted -Command "iex ((new-object net.webclient).DownloadString('http://bit.ly/psChocInstall'))"</code>
    </p>
</div>
<section class="release">
     <h2>Chocolatey v0.9.8.16 Released!</h2> 
     <p>
        The latest version of chocolatey includes a few new features. 
        If you are upgrading from an older version, there are a few breaking changes you should <a href="https://github.com/chocolatey/chocolatey/wiki/ReleaseNotes">know about</a>. 
        <em>chocolatey update (cup)</em> to get the latest version of chocolatey - <a href="https://github.com/chocolatey/chocolatey/wiki/ReleaseNotes">More information?</a>
     </p>
</section>
<section class="info">
    <h3>About</h3>
    <p>When you use chocolatey to install applicatons/tools, nearly all you need to do is type one line and let it finish the rest!</p>

    <h3>Important Notice</h3>
    <p>You can develop your own packages and share them via the Chocolatey Gallery. Read the documentation for more details on 
    <a title="Creating and submitting a package" href="https://github.com/chocolatey/chocolatey/wiki/CreatePackages">how to 
    create and publish a package</a>. If you don&rsquo;t plan on submitting a package, there&rsquo;s no need to register.</p>
    
    <h3>Package Issues?</h3>
    <p>If you find something wrong with a package or the package is out of date and you would like it updated, please use the contact owners link on the package page. If the owner doesn&rsquo;t respond within a given time frame (say a day or two), feel free to bring it up in the forum discussion.</p>
</section>
